#logoSite {
    width: 60px;
    margin: 10px;
}
.logoo{
    display: inline-flex;
}
header{
    background-color: darkblue;
    color: #FFFFFF;
}

header a{
    color: #FFFFFF;
}

#titrePage{
    text-align: center;
}

.container{
    max-width: 600px;
    margin: auto;
    padding: 2rem;
}

a:hover{color:crimson !important;}

.headLink{
    padding-top: 30px;
    float: right;
    margin-right: 10px;
}

body{
    font-family: Tahoma;
    background: #5eb5e0;
    margin: 0;
}

#titreLogo{
    padding-top: 10px;
}

footer{

    background:#ccc;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:30px;
    height:30px;
    text-align: center;
    margin: 0;
}