#logoSite {
    width: 60px;
    margin: 10px;
}
.logoo{
    display: inline-flex;
}
header{
    background-color: darkblue;
    color: #FFFFFF;
}

header a{
    color: #FFFFFF;
}

#titrePage{
    text-align: center;
    border-style: double;
    border-radius: 10px;
}

.container{
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    background-color: cornflowerblue;
}

a:hover{color:crimson !important;}

.headLink{
    padding-top: 30px;
    float: right;
    margin-right: 10px;
}

body{
    font-family: Tahoma;
    background: #5eb5e0;
    margin: 0;
}

#titreLogo{
    padding-top: 10px;
}

footer{

    background:#ccc;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:30px;
    height:30px;
    text-align: center;
    margin: 0;
}

/* form */
label{
    display: block;
    margin-top: 10px;

}
.form-check{
    margin-top: 10px;
}
.form-check label{
    display: initial;
}
#wish_submit{
    background-color: blue;
    color: #FFFFFF;
    width: 125px;
    margin-top: 10px;
    border-radius: 10px;
    height: 25px;
}
#wish_description{
    width: 250px;
    height: 50px;
    border-radius: 10px;
}
#wish .form-group input[type="text"]{
    width: 250px;
    height: 25px;
    border-radius: 10px;
}