#logoSite {
    width: 60px;
    margin: 10px;
}

.logoo{
    display: inline-flex;
}
#messBienvenu{
    padding-top: 18px;
    margin-left: 30px;
}
header{
    background-color: darkblue;
    color: #FFFFFF;
}

.container form label{
    display: none;
}

.container form input, select, textarea{
    margin: 10px;
}
#titreRegister{
    margin: 10px;
}
.btn{
    margin: 10px;
}
header a{
    color: #FFFFFF;
}

#titrePage{
    text-align: center;
    border-style: double;
    border-radius: 10px;
}
.alert{
    padding: 30px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    border-radius: 5px;
    background-color: #B0413E;
}
.alert-success{
    background-color: green;
}
.container{
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    background-color: cornflowerblue;
}

a:hover{color:crimson !important;}

.headLink{
    padding-top: 30px;
    float: right;
    margin-right: 10px;
}

.invalid-feedback{
    color: tomato;
}

body{
    font-family: Tahoma;
    background: #5eb5e0;
    margin: 0;
}

#titreLogo{
    padding-top: 10px;
}

footer{

    background:#ccc;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:30px;
    height:30px;
    text-align: center;
    margin: 0;
}

