{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} | Wishes {% endblock %}
{% block body %}

    <div class="container">
        <h1 id="titrePage">Liste des souhaits</h1>
    </div>

{% endblock %}