{% extends 'base.html.twig' %}


{% block title %}{{ parent()}} | Erreur {% endblock %}
{%  block body %}
    <div class="container">
        <p>

            Erreur !!!
        </p>
    </div>

{% endblock %}